
@{
    ViewBag.Title = "Result";
}
<div class="mdk-drawer-layout mdk-js-drawer-layout" push has-scrolling-region>
    <div class="mdk-drawer-layout__content">
        <div class="container-fluid">

            
            <div class="page-heading">
                <div class="media">
                    <div class="media-left media-middle">
                        <img src="~/assets/images/vuejs.png" alt="" width="80" class="rounded">
                    </div>
                    <div class="media-body media-middle">
                        <h4 class="mb-0"> Vue.js Deploy Quiz</h4>
                        <small class="text-muted">submited on 2nd Feb 2016</small>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Result</h4>
                </div>
                <div class="card-block media">
                    <div class="media-body media-middle">
                        <h4 class="mb-0">5.8</h4>
                        <span class="text-muted-light">Good</span>
                    </div>
                    <div class="media-right media-middle">
                        <a href="/Home/LogOut" class="btn btn-danger">End Quiz <i class="fa fa-rocket" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

</div>
