@model QuizMakerApp.Models.QuizDetailViewModel
@{
    ViewBag.Title = "Detail";
}

<div class="mdk-drawer-layout mdk-js-drawer-layout" push has-scrolling-region>
    <div class="mdk-drawer-layout__content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title"> Quiz Questions</h4>
                </div>
                <div class="card-header bg-white">
                    <a class="btn btn-success" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Add New Question <i class="material-icons">add</i></a>
                    <a href="/Exam/Index" class="btn btn-danger pull-right" style="color:white" role="button" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-check-square-o" aria-hidden="true"></i> End Quiz Question </a>
                   
                    
                     <div class="collapse" id="collapseExample">
                        <div class="well">
                            <div class="modal-dialog">
                                <div class="modal-content">
                               
                                    <div class="modal-body">
                                        <form action="/Quiz/QuizQuestion" method="POST">
                                        
                                            <input type="hidden" id="QuizId" name="QuizId" value="@Model.QuizID" />
                                            <div class="form-group row">
                                                <label for="" class="col-form-label col-md-3">Question:</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" name="Question" id="Question">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="" class="col-form-label col-md-3">A:</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" name="A" id="A">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="" class="col-form-label col-md-3">B:</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" name="B" id="B">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="" class="col-form-label col-md-3">C:</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" name="C" id="C">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="" class="col-form-label col-md-3">D:</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" name="D" id="D">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="" class="col-form-label col-md-3">E:</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" name="E" id="E">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="" class="col-form-label col-md-3">Answer:</label>
                                                <div class="col-md-4">
                                                    <select class="custom-control custom-select form-control" name="Answer" id="Answer">

                                                        <option value="A">A</option>
                                                        <option value="B">B</option>
                                                        <option value="C">C</option>
                                                        <option value="D">D</option>
                                                        <option value="E">E</option>

                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label for="" class="col-form-label col-md-3">Sequence:</label>
                                                <div class="col-md-4">
                                                    <select class="custom-control custom-select form-control" name="Sequence" id="Sequence">

                                                        <option value="1">1</option>
                                                        <option value="3">3</option>
                                                        <option value="5">5</option>
                                                        <option value="7">7</option>
                                                        <option value="9">9</option>
                                                        <option value="11">11</option>
                                                        <option value="13">13</option>
                                                        <option value="15">15</option>
                                                        <option value="17">17</option>
                                                        <option value="19">19</option>
                                                        <option value="21">21</option>
                                                        <option value="23">23</option>
                                                        <option value="25">25</option>
                                                        <option value="27">27</option>
                                                        <option value="29">29</option>


                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-md-8 offset-md-3">
                                                    <button type="submit" class="btn btn-success">Save</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>



                <br />
                <div class="card-header">
                    <h4 class="card-title"> Quiz Questions</h4>
                </div>
                <div class="nestable" id="nestable">
                    <ul class="list-group list-group-fit nestable-list-plain mb-0">
                        @foreach (var item in Model.QuizQuestions)
                        {
                            <li class="list-group-item nestable-item">
                                <div class="media">
                                    
                                    <div class="media-body media-middle">
                                        @item.Question
                                    </div>
                                    <div class="media-right text-xs-right">
                                        <form action="/Quiz/QuizQuestionDelete" method="POST">

                                            <input type="hidden" id="ID" name="ID" value="@item.ID" />

                                            <div style="width:100px">
                                            
                                           <button type="submit"  class="btn btn-danger btn-sm"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                             </div>
                                        </form>
                                    </div>
                                </div>
                            </li>
                        }

                    </ul>
                </div>
            </div>




            </div>
        </div>
    </div>

  <!-- Initialize -->
<script src="~/examples/js/nestable.js"></script>
<script src="~/examples/js/touchspin.js"></script>


<div class="modal fade" id="editQuiz">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title">Add/Edit Question</h5>
            </div>
            <div class="modal-body">
                <form action="#">
                    <div class="form-group row">
                        <label for="" class="col-form-label col-md-3">Title:</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" value="Database Access">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-form-label col-md-3">Type:</label>
                        <div class="col-md-4">
                            <select class="custom-control custom-select form-control">

                                <option value="1">Input</option>
                                <option value="2">Textarea</option>
                                <option value="3">Checkbox</option>
                                <option value="3">Radio</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-form-label col-md-3">Answers:</label>
                        <div class="col-md-9">
                            <a href="#" class="btn btn-default"><i class="material-icons">add</i> Add Answer</a>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-form-label col-md-3">Question Score:</label>
                        <div class="col-md-4">
                            <input id="touch-spin-2" data-toggle="touch-spin" data-min="0" data-max="100" data-step="5" type="text" value="50" name="demo2" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-8 offset-md-3">
                            <button type="submit" class="btn btn-success">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

